section {
  height: 100vh;
  background-color: #ececec;
  display: flex;
  justify-content: middle;
  align-content: center;
  text-align: center;
}

#user-profile,
#login-form,
#signup-form,
#email-verification {
  display: none;
  margin: auto;
  max-width: 300px !important;
}

#login-form {
  display: block;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #007bff;
}

#email-verification {
  text-align: left;
}

#forgot-password-btn {
  font-size: 17px;
  text-decoration: underline;
  cursor: pointer;
}

#reset-password-form {
  display: none;
  text-align: left;
  max-width: 300px;
  margin: auto;
}
